<div class="container">
  <div class="row">
    <h2>商品一覧</h2>
      <%= link_to new_admin_item_path, class: "nav-link text-dark" do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th bgcolor="#EEEEEE">商品ID</th>
          <th bgcolor="#EEEEEE">商品名</th>
          <th bgcolor="#EEEEEE">税抜価格</th>
          <th bgcolor="#EEEEEE">ジャンル</th>
          <th bgcolor="#EEEEEE">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item), class: "nav-link text-dark" do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active == true %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-secondary">販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @items %>
</div>

