<div class="container">
  <h2>会員一覧</h2>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table">
      <thead>
        <tr>
          <th bgcolor="#EEEEEE" >会員ID</th>
          <th bgcolor="#EEEEEE" >氏名</th>
          <th bgcolor="#EEEEEE" >メールアドレス</th>
          <th bgcolor="#EEEEEE" >ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
         <tr>
           <td><%= customer.id %></td>
           <td>
             <%= link_to admin_customer_path(customer), class: "nav-link text-dark" do %>
               <%= customer.full_name %>
             <% end %>
           </td>
           <td><%= customer.email %></td>
           <td>
             <% if customer.is_deleted == false %>
                <p class="text-success">有効</p>
              <% else %>
                <p class="text-secondary">退会</p>
              <% end %>
           </td>
         </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <%= paginate @customers %>
</div>
