<div class="container">
  <div class="row">
    <h2>注文履歴詳細</h2>
    <div class="col-md-10">
      <table class="table table-borderless">
        <tr>
          <th><strong>購入者</strong></th>
          <td>
            <%= link_to admin_customer_path(@customer.id), class: "nav-link text-dark" do %>
              <%= @order.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><strong>注文日</strong></th>
          <td><%= @order.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        </tr>
        <tr>
          <th><strong>配送先</strong></th>
          <td>〒<%= @order.full_address %></td>
        </tr>
        <tr>
          <th><strong>支払方法</strong></th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th><strong>注文ステータス</strong></th>
          <td>
            <%= form_with model: @order, url:admin_order_path, method: :patch do |f| %>
              <%= f.select :status, Order.statuses.keys,class:"status" %>
              <%= f.submit "更新", class:"btn btn-sm btn-success"%>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th bgcolor="#EEEEEE" ><strong>商品名</strong></th>
            <th bgcolor="#EEEEEE" ><strong>単価(税込)</strong></th>
            <th bgcolor="#EEEEEE" ><strong>数量</strong></th>
            <th bgcolor="#EEEEEE" ><strong>小計</strong></th>
            <th bgcolor="#EEEEEE" ><strong>制作ステータス</strong></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.with_tax_price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.subtotal %></td>
              <td>
                <%= form_with model: @order_detail, url:admin_order_detail_path, method: :patch do |f| %>
                  <%= f.select :making_status, OrderDetail.making_statuses.keys,class:"making_status" %>
                  <%= f.submit "更新", class:"btn btn-sm btn-success"%>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 offset-1">
      <table class="table table-borderless">
          <tr>
            <th><strong>商品合計</strong></th>
            <td>
              <% @total += order_detail.subtotal %>
              <%= @total %>円
            </td>
          </tr>
          <tr>
            <th><strong>送料</strong></th>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <th><strong>請求金額合計</strong></th>
            <td>
              <% @order.total_payment = @order.shipping_cost + @total %>
              <%= @order.total_payment %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>