<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-xs-2">
      <%= link_to "カートを空にする",  public_cart_items_destroy_all_path(@cart_items), method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size: "15x10" %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.with_tax_price %>
              </td>
              <td>
                <%= form_with model: cart_item, url:public_cart_item_path(cart_item.id), method: :patch do |f| %>
                  <%= f.hidden_field :item_id, value: cart_item.item.id %>
                  <%= f.select :amount, *[1..10] %>
                  <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>
              <td>
                <%= cart_item.subtotal %>
                <% @total +=  cart_item.subtotal %>
              </td>
              <td>
                <%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-9">
      <%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %>
    </div>
    <div class="col-xs-3">
      <table class"table">
        <tr>
          <th>合計金額</th>
          <td><%= @total %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <%= link_to "情報入力に進む", new_public_order_path, class:"btn btn-success" %>
    </div>
    <div class="col-xs-4"></div>
  </div>
</div>