<div class="container">
  <h2>注文情報確認</h2>
  <div class="row">
    <div class="col-xs-9">
      <table border="1">
        <thead>
          <tr>
            <th bgcolor="#EEEEEE" >商品名</th>
            <th bgcolor="#EEEEEE" >単価(税込)</th>
            <th bgcolor="#EEEEEE" >数量</th>
            <th bgcolor="#EEEEEE" >小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, size: "15x10" %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= cart_item.item.with_tax_price %>
              </td>
              <td>
                <%= cart_item.amount %>
              </td>
              <td>
                <%= cart_item.subtotal %>
                <% @total +=  cart_item.subtotal %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-3 offset-md-1">
      <table  border="1">
        <tr>
          <th bgcolor="#EEEEEE" >送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th bgcolor="#EEEEEE" >商品合計</th>
          <td><%= @total %></td>
        </tr>
        <tr>
          <th bgcolor="#EEEEEE" >請求金額</th>
          <td>
            <% @order.total_payment = @order.shipping_cost + @total %>
            <%= @order.total_payment %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <h5><stong>支払方法</stong></h5><%= @order.payment_method %>
  </div>
  <div class="row">
    <h5><stong>お届け先</stong></h5><%= "〒#{@order.postal_code} #{@order.address}" %><br><%= "#{@order.name}" %>
  </div>
  <div class="row">
    <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
      <% f.hidden_field :payment_method %>
      <% f.hidden_field :postal_code %>
      <% f.hidden_field :address %>
      <% f.hidden_field :name %>
      <% f.hidden_field :total_payment %>
      <%= f.submit "注文を確定する", class:"btn btn-success" %>
    <% end %>
  </div>
</div>