<div class="container">
  <h2>注文履歴一覧</h2>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th bgcolor="#EEEEEE" >注文日</th>
            <th bgcolor="#EEEEEE" >配送先</th>
            <th bgcolor="#EEEEEE" >注文商品</th>
            <th bgcolor="#EEEEEE" >支払金額</th>
            <th bgcolor="#EEEEEE" >ステータス</th>
            <th bgcolor="#EEEEEE" >注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.reverse.each do |order| %>
            <tr>
              <td>
                <%= order.created_at.strftime('%Y/%m/%d') %>
              </td>
              <td>〒
                <%= order.postal_code %><br>
                <%= order.address %><br>
                <%= order.name %>
              </td>
              <td>
                <% order.order_details.each do |order_detail| %>
                  <%= order_detail.item.name %>
                <% end %>
              </td>
              <td>
                <%= order.total_payment %>円
              </td>
              <td>
                <%= order.status %>
              </td>
              <td>
                <%= link_to "表示する", public_order_path(order), class:"btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>