<div class="container">
    <h2>注文情報入力</h2>
    <div class="row">
        <div class="col-xs-12">
            <%= form_with model: :@order, url:public_orders_confirm_path, method: :post do |f| %>
              <h5>支払方法</h5>
              <div class="field">
                  <%= f.radio_button :payment_method, :credit_card, checked: true %>
                  <%= f.label :credit_card %>
              </div>
              <div class="field">
                  <%= f.radio_button :payment_method, :transfer %>
                  <%= f.label :transfer %>
              </div>
              <h5>お届け</h5>
              <div class="field">
                  
              </div>
            <% end %>
        </div>
    </div>
</div>