<div class="container">
    <h2>注文情報入力</h2>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <%= form_with model: @order, url:public_orders_confirm_path, method: :post do |f| %>
              <h5><strong>支払方法</strong></h5>
              <div class="field">
                  <%= f.radio_button :payment_method, :credit_card, checked: true %>
                  <%= f.label :credit_card %>
              </div>
              <div class="field">
                  <%= f.radio_button :payment_method, :transfer %>
                  <%= f.label :transfer %>
              </div>
              <h5><strong>お届け</strong></h5>
              <div class="field">
                  <%= f.radio_button :select_address, "1", checked: true %>
                  <%= f.label :"ご自身の住所" %><br>
                  <%= "〒#{current_customer.postal_code} #{current_customer.address}" %><br>
                  <%= "#{current_customer.full_name}" %>
              </div>
              <% if @address != [] %>
                <div class="field">
                  <%= f.radio_button :select_address, "2" %>
                  <%= f.label :"登録済住所からの選択" %><br>
                  <%= f.collection_select :address_id, @addresses, :id, :order_address %>
                </div>
              <% end %>
              <div class="field">
                  <%= f.radio_button :select_address, "3" %>
                  <%= f.label :"新しいお届け先" %><br>
                  <div class="field">
                      <%= f.label :"郵便番号(ハイフンなし)" %>
                      <%= f.text_field :postal_code, placeholder:"0000000" %>
                  </div>
                  <div class="field">
                      <%= f.label :"住所" %>
                      <%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0" %>
                  </div>
                  <div class="field">
                      <%= f.label :"宛名" %>
                      <%= f.text_field :name, placeholder:"令和道子" %>
                  </div>
              </div>
              <div class="field">
                  <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
              </div>
            <% end %>
        </div>
    </div>
</div>