<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table">
        <tr>
          <th>ジャンル検索</th>
        </tr>
        <% @guides.each do |guide| %>
          <tr>
            <td>
              <%= link_to public_items_path(@item), class: "nav-link text-dark" do %>
                <%= guide.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-4">
      <%= image_tag @item.image, size: "300x250" %>
    </div>
    <div class="col-md-4">
      <h4><%= @item.name %></h4>
      <p><%= @item.introduction %></p>
      <tr>
        <h4>￥<%= @item.with_tax_price %></h4><p>(税込)</p>
      </tr>
        <tr>
          <% if customer_signed_in? %>
            <%= form_with model:@cart_item, url:public_cart_items_path, method: :post do |f| %>
              <%= f.hidden_field :item_id, value: @item.id %>
              <%= f.select :amount, *[1..10], :prompt => "個数選択" %>
              <%= f.submit "カートに入れる", class: "btn btn-success" %>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>