<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand">
            <span>ながのCAKE</span>
          </a>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li>
                  <%= link_to admin_items_path, class: "nav-link text-light" do %>
                  商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_customers_path, class: "nav-link text-light" do %>
                  会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_root_path, class: "nav-link text-light" do %>
                  注文履歴一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_genres_path, class: "nav-link text-light" do %>
                  ジャンル一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-light" do %>
                  ログアウト
                  <% end %>
                </li>
              <% elsif public_signed_in? %>
                <li>
                  <%= link_to public_customer_path(current_user), class: "nav-link text-light" do %>
                  マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to public_items_path, class: "nav-link text-light" do %>
                  商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to public_cart_items_path(current_user), class: "nav-link text-light" do %>
                  カート
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link text-light" do %>
                  ログアウト
                  <% end %>
                </li>
              <% else %>
              　<li>
                  <%= link_to public_about_path, class:"nav-link text-light" do %>
                    About
                  <% end %>
                </li>
                <li>
                  <%= link_to public_items_path, class:"nav-link text-light" do %>
                    商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path, class:"nav-link text-light" do %>
                    新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class:"nav-link text-light" do %>
                    ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="row">

      </div>
    </footer>
  </body>
</html>
