<!DOCTYPE html>
<html lang="ja" class="h-100">
  <head>
    <script src="https://kit.fontawesome.com/20c1341cb6.js" crossorigin="anonymous"></script>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <header class="border-bottom border-dark">
      <nav class="navbar navbar-expand-lg navbar-light bg-white p-4">
        <div class="container">
          <% if admin_signed_in? %>
            <a>
              <span>ながのCAKE</span>
            </a>
          <% else %>
            <%= link_to root_path, class: "nav-link text-dark" do %>
              ながのCAKE
            <% end %>
          <% end %>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li>
                  <%= link_to admin_items_path, class: "nav-link text-dark" do %>
                    商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_customers_path, class: "nav-link text-dark" do %>
                    会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_root_path, class: "nav-link text-dark" do %>
                    注文履歴一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_genres_path, class: "nav-link text-dark" do %>
                    ジャンル一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link text-dark" do %>
                    ログアウト
                  <% end %>
                </li>
              <% elsif customer_signed_in? %>
                <li>
                  <%= link_to public_customers_my_page_path(current_customer), class: "nav-link text-dark" do %>
                    マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to public_items_path, class: "nav-link text-dark" do %>
                    商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to public_cart_items_path(current_customer), class: "nav-link text-dark" do %>
                    カート
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete, class:"nav-link text-dark" do %>
                    ログアウト
                  <% end %>
                </li>
              <% else %>
              　<li>
                  <%= link_to public_about_path, class:"nav-link text-dark" do %>
                    About
                  <% end %>
                </li>
                <li>
                  <%= link_to public_items_path, class:"nav-link text-dark" do %>
                    商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path, class:"nav-link text-dark" do %>
                    新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class:"nav-link text-dark" do %>
                    ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="border-top border-dark mt-auto py-2 text-center">
      <nav class="navbar navbar-expand-lg navbar-light bg-white p-4"></nav>
      <div class="container"></div>
    </footer>
  </body>
</html>
